<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carbonproject"
        tools:targetApi="31">
        <activity
            android:name="com.example.carbon_project.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.carbon_project.OrganizerDashboardActivity" />
        <activity android:name="com.example.carbon_project.OrganizerCreateFacilityActivity" />
        <activity android:name="com.example.carbon_project.OrganizerFacilitiesActivity" />
        <activity android:name="com.example.carbon_project.CreateEventActivity" />
        <activity android:name="com.example.carbon_project.ViewEventsActivity" />
        <activity android:name="com.example.carbon_project.ProfileActivity" />
        <activity android:name="com.example.carbon_project.AdminDashboardActivity" />
        <activity android:name="com.example.carbon_project.EventManagementActivity" />
        <activity android:name="com.example.carbon_project.EventListActivity" />
        <activity android:name="com.example.carbon_project.EventDetailsActivity" />
        <activity android:name="com.example.carbon_project.EntrantDashboardActivity" />
        <activity android:name="com.example.carbon_project.EntrantEventsListActivity" />

    </application>

    <!-- Declare camera permission for QR scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission to access personal storage to upload image -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>