<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carbonproject"
        tools:targetApi="31">
        <activity
            android:name="com.example.carbon_project.Controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.carbon_project.Controller.OrganizerDashboardActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerCreateFacilityActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerFacilitiesActivity" />
        <activity android:name="com.example.carbon_project.Controller.CreateEventActivity" />
        <activity android:name="com.example.carbon_project.Controller.ViewEventsActivity" />

        <activity android:name="com.example.carbon_project.Controller.EventManagementActivity" />
        <activity android:name="com.example.carbon_project.Controller.EventDetailsActivity" />
        <activity android:name="com.example.carbon_project.Controller.EntrantDashboardActivity" />
        <activity android:name="com.example.carbon_project.Controller.EntrantEventsListActivity" />
        <activity android:name="com.example.carbon_project.Controller.ProfileActivity" />
        <activity android:name="com.example.carbon_project.Controller.AdminListActivity"/>
        <activity android:name="com.example.carbon_project.Controller.AdminViewProfileActivity"/>
        <activity android:name="com.example.carbon_project.Controller.SaveQRCodeActivity" />
        <activity android:name="com.example.carbon_project.Controller.EntrantJoinEventActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerEventListDetailsActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerMapActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerUserListActivity" />
        <activity android:name="com.example.carbon_project.Controller.OrganizerSendNotifActivity" />
        <activity android:name="com.example.carbon_project.Controller.EntrantAcceptEventActivity"/>

    </application>

    <!-- Declare camera permission for QR scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Permission to access personal storage to upload image -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


</manifest>
